@import 'variables.scss';

$quote-width: 60%;

.quote {
    background: #2E4552;
    padding: 10rem 10rem 4rem 10rem;

    @media (max-width: $breakpoint-tablet) {
        padding: 8rem 3rem;
    }

    p {
        font-family: 'Playfair Display';
        text-align: center;
        font-weight: 100;
        font-style: italic;
        font-size: 2.3rem;
        line-height: 225.3%;
        color: #FFFFFF;
        width: $quote-width;
        margin: auto;

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 2rem;
        }
    }

    &__signature {
        width: $quote-width;
        text-align: right;
        padding-right: 22rem;
        margin: auto;
        padding-top: 3rem;

        img {
            @media (max-width: $breakpoint-tablet) {
                padding-top: 3rem;
                max-width: 30%;
            }

            @media (max-width: $breakpoint-mobile) {
                padding-top: 3rem;
                max-width: 120%;
            }
        }

        @media (max-width: $breakpoint-mobile) {
            padding: 0;
        }
    }
}