$breakpoint-tablet: 1600px;
$breakpoint-mobile: 800px;
$breakpoint-mobilesm:300px;
$header-height: 3rem;
$header-padding: 1rem 5%;
$header-logo-padding: 1rem 1%;

$primary-color: #f00;
$secondary-color: orange;
$content-padding: 9%;
$background-color:#F1EFEA;

$header-logo-padding: 10px;
$content-padding: 40px;

